/* Media Query para pantallas con ancho menor a 640px */
@media (max-width: 639px) {
  .custom-inner-div {
    /* Estilos específicos para los divs internos en pantallas pequeñas */
    width: 300px; /* Cambia el valor según lo que necesites */
    height: 40%; /* Cambia el valor según lo que necesites */
  }

  .cardQuery {
    margin-bottom: 12px;
    margin-top: 15px;
  }

  .fontSizeQuizzes {
    font-size: 1.35rem /* 18px */;
    line-height: 1.7 /* 28px */;
  }

  .gamesScroll{

    margin-top: 1.5rem;
  }
}

@media (max-width: 769px) {
  .mainQuizzes {
    overflow-y: scroll;
    max-height: calc(100vh - 60px);


  }

  .gamesScroll{

    overflow-y: scroll;
    max-height: calc(100vh - 60px);


  }

}


@media (max-width: 640px){

  .mainDivGames{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

  }

  .gamesContainer{

    height: 10rem;
    width: 10rem;
  }

  .pTitleGame{
    width: 10rem;
  }


}
