@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-tab {
        @apply flex justify-center items-center text-white block md:h-full px-3 py-7  md:px-7 md:py-4 md:hover:bg-secondary relative w-6/12 md:w-auto transition-colors
    }

    .nav-tab::after {
        @apply w-0 bg-secondary
    }
    .nav-tab-active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        @apply w-full py-0.5 bg-white transition-all
    }

    .context-menu {
        border-radius: 20px;
        width: 180px;
        @apply bg-primary p-3 rounded-3xl flex flex-col
    }

    .btn {
        @apply bg-gray-900 text-white px-4 py-2 rounded-xl
    }

    .question-wrapper {
        border-radius: 18px 0px 18px 0px;
        @apply flex-1 bg-gray-100 p-3
    }
}